@use "../../scss/" as *;

.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  margin-bottom: 3rem;

  @include tablet {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }

  &__loadmore {
    @include flex(center, center);
    margin-bottom: 2rem;
  }

  &__search {
    position: relative;
    width: 100%;
    max-width: 500px;

    input {
      width: 70%;
      padding-right: 1rem;
    }
  }
}
